* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #080808;
  color: #fff;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url("jav.png");
  background-size: cover;
  background-position: center;
}
h1 {
  padding: 10px;
  margin-top: 20px;
  margin-left: 40px;
}
.container {
  padding: 15px 15%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 15px 22px;
  margin-right: 70px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 4px;
  background: #ca6183;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.6s;
}
nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  margin-top: 22px;
  font-size: 20px;
}
.header-text h1 {
  font-size: 25px;
  margin-top: 50px;
  margin-left: 50px;
}
.header-text h1 span {
  color: #0015ff;
}
.header-text p {
  margin-left: 70px;
}
#about {
  padding: 80px 0;
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}
.about-col-2 {
  flex-basis: 40%;
}
.sub-title {
  font-size: 50px;
  font-weight: 500;
  color: #fff;
}
.tab-titles {
  display: flex;
  margin: 22px 0 44px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 4px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.6s;
}
.tab-links.active-link::after {
  width: 60%;
}
.tab-contains ul li {
  list-style: none;
  margin: 15px 0;
}
.tab-contains ul li span {
  color: #0015ff;
  font-size: 15px;
  margin-top: 25px;
}
.tab-contains {
  display: none;
}
.tab-contains.active-tab {
  display: block;
}
/* Services*/
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 42px;
  margin-top: 50px;
}
.services-list div {
  background: #282828;
  padding: 45px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.6s, transform 0.6s;
}
.services-list div i {
  font-size: 55px;
  margin-bottom: 30px;
}
.services-list div h2 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}
.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover {
  background: #044d0b;
  transform: translateY(-10px);
}
/* portfolio */
#portfolio {
  padding: 50px 0;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.6s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #130107);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 12px;
  transition: height 0.6s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
.btn {
  display: block;
  margin: 50px;
  width: fit-content;
  border: 1px solid #044d0b;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.4s;
}
.btn:hover {
  background: #0015ff;
}
/* contact css */
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 15px;
}
.contact-left p i {
  color: #00f7ff;
  margin-right: 25px;
  font-size: 25px;
}
.social-icon a {
  text-decoration: none;
  font-size: 25px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social:icon a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
.btn.s {
  display: inline-block;
  background: #044d0b;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
.form-outer label {
  display: block;
}
.form-outr input {
  width: 100%;
  height: 40px;
}
.form-outer button {
  padding: 15px 500px;
  width: 100;
  background-color: #044d0b;
  font-size: 20px;
}
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}
nav .fa-solid {
  display: none;
}
@media only screen and (max-width: 600px) {
  #header {
    background-image: url("jav.png");
  }
  .header-text {
    margin-top: 100%;
    font-size: 18px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  nav .fas {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #044d0b;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    padding-top: 60px;
    z-index: 2;
    transition: right 0.4s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 27px;
    cursor: pointer;
  }
  .sub-title {
    font-size: 50px;
  }
  .form-outer button {
    padding: 10px 0px;
    width: 100%;
    size: 50px;
    background-color: #044d0b;
    color: #ababab;
    font-size: 20px;
  }
}
#span {
  color: #ca6183;
  margin-top: -10px;
  display: block;
}
